body {
  margin: 0;
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
}

ul {
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  height: 200vh;
  width: 100%;
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% -38px;
  background-attachment: fixed;
}

.header::after {
  content: "";
  background: rgb(4, 4, 4);
  position: absolute;
  opacity: 0.85;
  top: 0;
  left: 0;
  height: 200vh;
  width: 100%;
  transition: all .25s ease;
}

.nav {
  position: relative;
  z-index: 1;
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 150px;
}

.logo-link {
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 80px;
  padding-top: 10px;
}

.logo-img {
  height: 130px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list li{
  display: flex;
  color: white;
  font-weight: 500;
  font-size: 17px;
  padding: 0 10px;
}

.nav-list-link {
  position: relative;
  transition: all .25s ease;
}

.nav-list-link::after {
  content: "";
  background: #e1ab23;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -8px;
  left: 0;
  transform: scaleX(0);
  transition: all .25s ease;
}

.nav-list-link:hover {
  color: #e1ab23;
}

.nav-list-link:hover::after {
  transform: scaleX(1);
}

.nav-list li:last-of-type a {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 10px;
  background-color: #e1ab23;
  border-radius: 3px;
  transition: all .25s ease;
}

.nav-list li:last-of-type a:hover {
  background-color: #896d25;
}

.nav-list li:last-of-type svg {
  width: 1em;
}

.nav-list li:last-of-type {
  padding-right: 80px;
}

.backet {
  margin-right: 5px;
  fill: white;
}

.nav-toggle {
  font-size: 2rem;
  color: white;
}

.nav-toggle {
  display: none;
}

.burger {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  vertical-align: -0.125em;
  cursor: pointer;
  margin-right: 80px;
  transform: scale(1.5);
}



@media screen and (max-width: 992px) {
  .nav-list {
    display: none;
  }

  .nav-toggle {
    display: block;
  }
}